/*font-family: 'Merriweather', serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Lobster', cursive;*/
:root {
  --primary-color: #adefd1ff;
  --secondary-color: #00203fff;
  --heading-1-font: "Lobster", cursive;
  --secondary-heading-font: "Merriweather", serif;
  --paragraph-font: "Montserrat", sans-serif;
}
h1 {
  font-family: var(--heading-1-font);
  font-size: 70px;
}

img {
  border-radius: 10px;
}
h3 {
  font-family: var(--secondary-heading-font);
}
h2,
h4 {
  margin-top: 20px;
  font-family: var(--secondary-heading-font);
}

p {
  font-size: 25px;
  font-family: var(--paragraph-font);
}

nav {
  padding: 30px 0px;
}

nav ul {
  padding: 0px;
  margin: 0px;
}
nav li {
  display: inline;
  list-style: none;
  line-height: 42px;
  margin-left: 10px;
}

nav a {
  font-size: 20px;
  font-family: var(--paragraph-font);
  text-decoration: none;
  color: var(--secondary-color);
  transition: all 150ms ease-in-out;
}

nav a:hover,
nav li.active a {
  color: #00bbf0;
}

footer {
  margin: 60px 0px;
}
footer .email-link {
  text-decoration: none;
  color: black;
  font-size: 24px;
  text-align: center;
}
.btn-branding {
  font-size: 20px;
  font-family: "Merriweather", serif;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  text-decoration: none;
  border-radius: 10px;
  padding: 20px 15px;
  margin: 25px;
}
.contact-link {
  margin-top: 40px;
  margin-bottom: 170px;
}
.intro-text {
  padding: 250px;
  /*margin-top: 35px;*/
  color: var(--primary-color);
  background-color: var(--secondary-color);
}

.project-pictures {
  width: 60%;
  display: block;
  margin: 0 auto;
}

.project-btn {
  margin-top: 65px;
}

.description-text {
  border: 2px black solid;
  border-radius: 10px;
  padding: 80px 20px;
}

.content-container {
  padding: 90px 20px;
}
.content h1 {
  font-size: 64px;
  line-height: 80px;
}

.content h2 {
  font-size: 30px;
}
.content p {
  font-size: 18px;
}
.content h3 {
  font-family: var(--secondary-heading-font);
  line-height: 1.5;
  font-size: 24px;
}
.content-container img {
  padding: 120px 20px;
}
.content {
  margin: 30px;
}

.weather-img {
  padding: 40px 20px 100px 20px !important;
}

@media (max-width: 576px) {
  .weather-pic {
    display: none;
  }
  .project-pictures {
    display: none;
  }
  .contact-link {
    margin-bottom: 60px;
  }
  .intro-text {
    padding: 100px;
  }
  .btn-branding {
    font-size: 10px;
    padding: 20px 10px;
    margin: 0px;
  }
  nav h3 {
    display: none;
  }
  h1 {
    font-size: 30px;
  }
  h2,
  h4 {
    font-size: 18px;
  }

  p {
    font-size: 17px;
  }

  .content-container h1 {
    font-size: 45px;
    line-height: 1.5;
  }

  .content-container {
    padding: 80px 20px;
    text-align: center;
  }

  .content-container img {
    padding: 40px 20px;
  }

  .weather-img {
    padding: 40px 20px 20px 20px !important;
  }
}

@media (max-width: 768px) {
  .project-pictures {
    width: 100%;
  }
  .weather-pic {
    width: 100%;
    margin-top: 100px;
  }
  .btn-branding {
    font-size: 15px;
    padding: 15px 0px;
    margin: 5px;
  }
}
